<div class='container_12 aboutus'>
  <div class='history'>
    <div class='grid_5'>
      <h1>History & Roots</h1>
      <div class='hisorydescription'>
        <p>
          <!-- = link_to "click here to test ajax", 'http://localhost:3000/about_us.json', :remote => true -->
          <!-- = link_to_function "click here", "test_ajax()" -->
          The Apurva Natvar Parikh Group was founded in August 1947 by the late Natvarlal Chotalal Parikh. This was the year of Indian independence from generations of colonial rule and there was a tremendous need for the development of infrastructure to meet the needs of the people. Fired by his vision Natvarlal Parikh set up a massive scale of operations including port management, crane rental, container transportation, freight forwarding and heavy transportation. Pioneering in many logistics based activities Natvarlal built a corporate culture of innovation, meticulous planning and economical operations.
          </p>
          <p>
          Today the Lift & Shift India Pvt Ltd continues the tradition by offering specialized services to spur the growth of the Indian economy. Fusing old business work ethic with cutting edge technology we have grown into the leading Indian company involved in the logistics and infrastructure support service industries. Our activities have now surpassed India’s borders and stretch all over the subcontinent and the Middle East. Still managed under a single family the group continues to provide effective services using sound and sustainable business practices.
        </p>
      </div>
    </div>
  </div>

  <div class='advantage'>
    <div class='grid_6'>&nbsp;</div>
    <div class='grid_5'>
      <h1>The Lift & Shift Advantage</h1>
      <p>
        At Lift & Shift India Pvt Ltd we strive to provide transport and infrastructure support services of the highest quality, to operate with the latest technology and to provide our clients with cost effective solutions.
      </p>
      <p>
        Our history has taught us to nurture a close relationship with our clients and colleagues and to build a culture of mutual respect and inspire progress in our country.
      </p>
      <p>
        Looking toward the future we aim to use sound sustainable business practices with an efficient use of natural resources for the benefit of society.
      </p>
    </div>
    <div id='blackboxlink'></div>
  </div>

  <div class='blackbox'>
    <div class='grid_2'>&nbsp;</div>
    <ul class='grid_8 blackboxlist'>
      <li class='grid_3'>
        <a href='#'><span></span>Quality
        </a>
      </li>
      <li class='grid_3'>
        <a href='#'><span></span>Health
        </a>
      </li>
      <li class='grid_3'>
        <a href='#'><span></span>Safety
        </a>
      </li>
      <li class='grid_3'>
        <a href='#'><span></span>Environment
        </a>
      </li>
    </ul>
    <div class='grid_2'>&nbsp;</div>
    <div class='clear'></div>
    <h1>Hazard Free Environment</h1>
    <div class='grid_2'>&nbsp;</div>
    <div class='grid_8'>
      <p>Lift and Shift is committed to a Zero Harm Policy at all sites at which it operates. All our employees and sub contractors are assured a safe working environment. A safety officer is appointed at all our sites to ensure all safety procedures are followed and are empowered to stop any activity they may find unsafe. We further aim to mitigate all risk by viewing safety as a part of all our activities thus creating a culture of safety awareness throughout our organization.</p>
    </div>
    <div class='grid_2'>&nbsp;</div>
    <div class='clear'></div>
  </div>
</div>
