<div class='footer' id='contact'>
  <div class='container_12'>
    <dl class='grid_3'>
      <dt>Lift  Shift India Pvt. Ltd.</dt>
      <dd>
        96, Chembur Mankhurd Link Road
        Shivaji Nagar, Mumbai 400043, India.
      </dd>
    </dl>

    <dl class='grid_2'>
      <dt>Phone</dt>
      <dd>+91 22 25560101 / 25484180</dd>
    </dl>

    <dl class='grid_2'>
      <dt>Email</dt>
      <dd>
        <a href='mailto:projects@anpg.in' style='color: #939597;'>projects@anpg.in</a>
      </dd>
    </dl>

    <dl class='grid_2'>
      <dt>Fax</dt>
      <dd>+91 22 25563573</dd>
    </dl>

    <div class='grid_3'></div>
    <div class='clear'></div>
    <div class='spacer'></div>
    <h1 class='grid_2 careertag'>Careers</h1>
    <p class='grid_5'>
      Lift  Shift offers exciting careers for marine engineers, mechanical engineers
      and draftsmen. To apply please forward your CV to
        <a href='mailto:careers@anpg.in'>careers@anpg.in</a>
    </p>
    <div class='grid_2 downloadlink'>
      <a href='http://s3.amazonaws.com/liftandshift/company_profile/1/original/Rails_3.pdf?1381211288' target='_blank'>Download Company Profile</a>
    </div>
    <div class='grid_3 client-logo'>
      <a href='#'>
        <img src='/assets/apurv-logo.png'>
      </a>
    </div>
    <div class='clear'></div>
  </div>
</div>